// Boja plave boja: #03416e
// Siva boja: #929497

$plavaBoja:#03416e;
$sivaBoja: #929497;
// $headerText: #2e2d2c;
// $hoverNav: #f3f5f9;
// $hoverUnderline: #3c3c3b;
// $acordionBack: #F7F7F7;
// $acordionTitle: #2e2d2c;
// $acordion-back: #4a79bc;
// $font-Bold:'Montserrat-Bold';
// $font-Medium:'Montserrat-Medium';
// $font-Regular:'Montserrat-Regular';

@import "onama";
@import "carousel";
@import "slider";
@import "about";
@import "usluge";
@import "reference";
@import "zastupnistva";

@import "footer";

body {
    font-family: 'Roboto', sans-serif;
    color: $sivaBoja;
}

h2,
h3,
h4,
h5,
h6 {

    color: $plavaBoja;
    clear: both;
    line-height: 1.2;
    font-weight: 500;

}

.container {
    width: 1110px;
}


.sticky {
    position: fixed;
    top: 0;
    // background-color: rgba(0, 0, 0, 0.9);
    background-color: #181818;
}

header {
    width: 100%;
    // height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .header__top {

        // width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        .logo {
            height: auto;
            width: 20%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // background: blue;

            img {
                height: 100%;
                width: 100%;
                transition: all .2s ease-out;
            }

        }

        .logo:hover {
            img {
                // height: 110%;
                // width: 110%;
                transform: scale(1.05)
            }
        }

        .header__top__contact {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            // background-color: gray;

            .header__top__item {
                width: 25%;
                // background-color: red;
                // border: 1px solid black;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                // border-right: 1px solid red;

                .header__top__item__inner {

                    position: relative;
                    font-size: 13px;
                    cursor: pointer;
                    // background-color: red;

                    img {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 15px;
                    }


                    label {
                        margin-left: 30px;
                    }

                    span {
                        margin-left: 30px;
                        font-weight: bold;
                        // background-color: green;

                    }


                    // }
                }

                .header__top__item__inner:hover {
                    span {
                        color: $plavaBoja;
                    }
                }

                .header__top__item__inner__lang {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 20px;
                        margin-right: 5px;
                        border: 1px solid $plavaBoja;

                    }
                }

                .lang {
                    transition: all .2s ease;
                }

                .lang:hover {
                    transform: scale(1.2);
                }

            }

            .header__top__item__vertical:after {
                content: "";
                width: 3px;
                height: 50px;
                // background-color: rgb(66, 65, 65);
                border-right: 1px solid #9294973d;
                margin-left: 15px;
                // position: absolute;
                // right: 0;

            }
        }
    }

    .header__bottom {

        width: 100%;
        background-color: $plavaBoja;
        margin: auto;
        z-index: 1;
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // justify-content: space-around;

        nav {
            height: 60px;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;

            .small-drop-btn {
                margin-right: 15px;
                cursor: pointer;
                position: absolute;
                right: 0px;
            }

            ul {
                width: 40%;

                list-style: none;
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;


                li {
                    display: inline-block;
                    position: relative;


                    a {
                        text-decoration: none;


                        h2 {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 700;
                            text-transform: capitalize;
                            position: relative;
                        }


                        h2::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -22px;
                            margin: auto;
                            background-color: #fff;
                            opacity: 1;
                            height: 3px;
                            margin-top: 12px;
                            width: 0;
                            -khtml-transition: all .3s linear 0ms;
                            -moz-transition: all .3s linear 0ms;
                            -ms-transition: all .3s linear 0ms;
                            -o-transition: all .3s linear 0ms;
                            transition: all .3s linear 0ms;
                        }

                        h2:hover::after {
                            width: 100%;
                        }

                    }
                }
            }
        }
    }

}

@import "responsiveNav";
// ade
@import "responsive";